/* FONT IMPORT */
@font-face {
  font-family: "Gotham";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/gotham/GothamBook.ttf");
}

@font-face {
  font-family: "Gotham Bold";
  src: url("./assets/fonts/gotham/GothamBold.otf");
}

@font-face {
  font-family: "Gotham Black";
  src: url("./assets/fonts/gotham/GothamBlack.otf");
}

/* BODY */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overscroll-behavior: contain;
  overflow: hidden;
}

/* DISABLE SCROLLBAR */
*::-webkit-scrollbar {
  display: none;
}

/* HEADER */
header {
  width: 100%;
  height: 48px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  display: block;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 2;
  box-shadow: 0px -24px 1px 24px rgb(0, 0, 0);
}

.heptagon-logo {
  width: 250px;
  display: inline-block;
  margin: 0 auto;
  pointer-events: none;
  user-select: none;
}

/* FOOTER */
footer {
  height: 20px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border: 0;
  box-shadow: 0px 24px 1px -24px rgb(0, 0, 0) inset;
}

.copyright {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.social-media {
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-media .facebook-icon {
  margin-right: 25px;
  user-select: none;
}

.social-media .twitter-icon {
  margin-right: 25px;
  user-select: none;
}

.social-media .instagram-icon {
  user-select: none;
}

/* BACKGROUND */
.background .text {
  width: 100vw;
  height: 100vh;
  font-family: "Gotham Black";
  font-size: 710px;
  line-height: 600px;
  transform: rotate(-17deg);
  right: 100rem;
  top: -50rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: -2;
  user-select: none;
}

/* CONTENT */
.container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  position: absolute;
  scroll-behavior: smooth;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.text-box {
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  outline: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 10px solid black;
}

h1 {
  font-family: "Gotham";
  font-weight: normal;
  font-size: 48px;
}

.bold-text {
  font-family: "Gotham Bold";
}

#our-mission .box .text-box {
  padding-left: 3rem;
  padding-right: 3rem;
  border-bottom: 10px solid #45ff79;
  margin-right: 150px;
}

#our-mission #second-box {
  margin-top: 25px;
}

.computer-img {
  width: 625px;
  height: 625px;
  position: absolute;
  z-index: -1;
  margin-left: 600px;
  transform: rotate(5.5deg);
  animation: float 6s ease-in-out infinite;
  pointer-events: none;
  user-select: none;
}

.planet-img {
  width: 450px;
  height: 450px;
  animation: float 4s ease-in-out infinite;
  pointer-events: none;
  user-select: none;
}

.selection-box {
  width: 250px;
  height: 225px;
  position: absolute;
  background-color: rgba(137, 177, 255, 0.4);
  border: 2px solid #0085ff;
  margin-top: 375px;
  margin-right: 540px;
  animation: scale-selection 3s ease-in-out forwards;
  transform-origin: 100% 0%;
}

.cursor {
  height: 25px;
  position: absolute;
  margin-top: 625px;
  margin-right: 779px;
  pointer-events: none;
  user-select: none;
  animation: cursor-movement 3s ease-in-out forwards;
}

/*section:nth-of-type(1) {}*/

.arrow {
  margin-top: 650px;
  position: absolute;
}

.arrow .arrow-img {
  height: 30px;
  animation: float 2s ease-in-out infinite;
  user-select: none;
}

.data {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* ANIMATIONS */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes scale-selection {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes cursor-movement {
  0% {
    transform: translate(253px, -228px);
  }
  100% {
    transform: translate(0);
  }
}

@media (max-width: 1025px) {
}

@media (max-width: 769px) {
}

@media (max-width: 481px) {
}

@media (max-width: 320px) {
}
